<%= link_to 'Back', :back, class: 'p-4' %>

<div class="container">
  <h3 class="text-center mb-4">Edit course</h3>
  <%= form_with model: @course, local: true do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@course.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li class="alert alert-warning"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: 'form-control-sm' %>
    </div>

    <div class="form-group">
      <%= f.label :finish_date %>
      <%= f.date_field :finish_date, class: 'form-control-sm' %>
    </div>

    <div class="form-group">
      <%= f.label :teacher_id %>
      <%= f.collection_select :teacher_id, User.where(role_id: 2), :id, :name_with_initial, {prompt: true}, {class: 'form-control-sm'} %>
    </div>

    <div class="actions">
      <%= f.submit 'Update course', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
